:root{
    --coworks-white: #f8f9fa;
    --coworks-green: #94f1a5;
    --coworks-blue: #1757a3;
    --rvpark-red: #611e0b;
    --rvpark-blue: #29363b;
    --rvpark-burnt: #c39b61;
}

html, body{
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: content-box;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--coworks-white);
    font-family: "Roboto", sans-serif;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
    margin:5vmin;
    padding:0;
    border:0;

}
.container
{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 5%;
    gap: 3vmin;
}

button {
    background-color: rgba(139, 137, 199, 1);
    color: var(--coworks-white);
    border-radius: 10px;
    width:6em;
    border-style: none;
    box-shadow: none;
    transition: transform 0.2s;
    font-size:20px;
    font-weight: bolder;
    padding: 0.3em;
    border-color: var(--coworks-blue);
    border-width: thick;
    border-style:solid;
    box-shadow: 0px 0px 5px 5px rgba(139, 137, 199, 0.4);
}

article
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
    gap: 0.5em;
    padding:1em;
    border-style: solid;
    border-width: thick;
    border-radius: 1.2em;
    border-color: var(--coworks-blue);
    box-shadow: 0px 0px 5px 5px rgba(139, 137, 199, 0.4);
    
    
}
.info
{
    display:flex;
    justify-content:space-between;
    justify-self:stretch;
    align-self:stretch;
    width:100%;
    text-align: left;
    font-size: small;
    list-style-type: none;
    padding: 0;
    color: rgba(139, 137, 199, 1);
    margin: 0;
    border: 0;
    font-style: italic;
}

ul
{
    gap:1em;
}
img
{
    border-style: solid;
    border-width: thick;
    border-radius: 1.2em;
    border-color: rgba(139, 137, 199, 1);
}
p, h1
{
    color: var(--coworks-blue)
    
}
h1, h2{
    text-align: center;
}
h2{
    color: var(--coworks-blue)
}
p, h1, h2 {
    text-size-adjust: auto;
}

h1{
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    color: rgba(139, 137, 199, 1);
    font-style: italic;
}

a{
        color: var(--coworks-blue);
}